button {
  background-color: var(--primary);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--dark-text);
  border: none;
  border-radius: 4px;
  padding: 1rem;
  width: 9rem;
}

.cta {
  display: inline-block;
  text-align: center;
  background-color: var(--primary);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--dark-text);
  border: none;
  border-radius: 4px;
  padding: 1rem;
  width: 9rem;
  box-shadow: 0 0 5px var(--text);
  align-self: center;
  cursor: pointer;
}

.card {
  padding: 1rem;
  overflow: none;
  border-radius: 3px;
}
.card ul, .card li {
  list-style: inside;
}
@media (min-width: 768px) {
  .card {
    box-shadow: 0 0 5px var(--primary-hover);
  }
}
.card__info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.card__bold {
  font-weight: bold;
}
.card__img {
  max-width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  border-radius: 3px;
}

.main-nav {
  display: none;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .main-nav {
    display: block;
  }
}
.main-nav.open {
  display: block;
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  padding: calc(1rem - 2px);
  z-index: 2;
  background-color: var(--background);
  box-shadow: 0 5px 5px -5px var(--text);
}
.main-nav ul {
  gap: 1rem;
}
@media (min-width: 1024px) {
  .main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
.main-nav ul a {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.menu-toggle {
  display: block;
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
  color: var(--text);
  padding: 1rem;
  font-size: 1.5rem;
  background: none;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
    background: none;
  }
}

.toggle {
  position: absolute;
  justify-self: flex-end;
  border: none;
  gap: 0.5rem;
  margin: 0 auto;
  right: 1rem;
  left: auto;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .toggle {
    margin: 0;
    padding: 0;
  }
}
.toggle label {
  display: none;
  align-self: center;
  color: var(--text);
}
@media (min-width: 1024px) {
  .toggle label {
    display: block;
  }
}
.toggle label[for=dark] {
  justify-self: end;
}
.toggle label i {
  font-size: 1rem;
  color: var(--text);
}
.toggle__wrapper {
  position: relative;
  height: 24px;
}
.toggle input[type=radio] {
  margin: 2px -2px;
  opacity: 0%;
  width: 2rem;
  height: 20px;
}
.toggle input[type=radio]:focus ~ .toggle__button {
  border: 1px solid var(--primary);
}
.toggle__background {
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(225deg, var(--text) 0%, var(--primary) 98.02%);
  border-radius: 12px;
  overflow: hidden;
  position: absolute;
  top: 0;
  pointer-events: none;
}
.toggle__button {
  position: absolute;
  margin: -0.2px 0;
  left: 3px;
  right: calc(100% - 20px);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--background);
  top: 3px;
  transition: all 150ms ease-in-out;
}
.toggle #light:checked ~ .toggle__button {
  right: 3px;
  left: calc(100% - 22px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__content {
  background-color: var(--background);
  margin: 25% auto;
  padding: 2rem;
  box-shadow: 0 0 5px var(--primary-hover);
  border-radius: 3px;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__content .close-button {
  color: var(--text);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  align-self: flex-end;
  justify-self: flex-start;
}
.modal__content .close-button :hover {
  transform: scale(1.2);
}
.modal__content #modal-message {
  margin-bottom: 2rem;
}

.remove-icon {
  transform: rotate(45deg);
}

:root {
  --light-bg: rgba(250, 249, 246, 1);
  --light-text: rgba(51, 51, 51, 1);
  --primary: rgba(150, 75, 0, 1);
  --primary-hover: rgba(150, 75, 0, 0.4);
  --dark-bg: rgba(44, 44, 44, 1);
  --dark-text: rgba(250, 249, 246, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--light-bg);
    --text: var(--light-text) ;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-bg);
    --text: var(--dark-text) ;
  }
}
:root[data-theme=dark] {
  --background: var(--dark-bg);
  --text: var(--dark-text) ;
}

:root[data-theme=light] {
  --background: var(--light-bg);
  --text: var(--light-text) ;
}

:root, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

h1, h2, h3, h4, #catchphrase {
  font-family: "Merriweather", serif;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.75rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.375rem;
  }
}
@media (min-width: 1024px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  h4 {
    font-size: 1.25rem;
  }
}

p, li, span, label, input, textarea, a {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  min-height: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--background);
  padding: 1rem;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header.scrolled:not(.menu-open) {
  box-shadow: 0 0 5px var(--text);
}

section {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 1200px;
}
@media (min-width: 768px) {
  section {
    padding: 4rem 2rem;
  }
}

.banner {
  max-width: 100vw;
  width: 100%;
  background-image: url(../../assets/images/banner-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--dark-text);
}
@media (min-width: 1200px) {
  .banner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.banner__text {
  display: block;
  grid-column: 2/5;
  grid-row: 1/3;
  align-self: center;
  padding: 1rem;
}
.banner__cta-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .banner__cta-box {
    display: block;
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: center;
  }
}
.banner__cta-box__cta {
  margin: 1rem;
}
@media (min-width: 1200px) {
  .banner__cta-box__cta {
    margin-top: 6rem;
  }
}

.about {
  padding-top: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 4rem;
    margin-top: 4rem;
  }
}
.about__text {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__text {
    padding-right: 6rem;
  }
}
.about__img {
  grid-column: 3/4;
  overflow: none;
}
.about__img img {
  max-height: 600px;
  aspect-ratio: 0.6666666667;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 0 0 5px var(--primary);
}
.about__cta {
  margin: 2rem;
  align-self: center;
}

@media (min-width: 768px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
.menu__heading {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .menu__heading {
    margin-bottom: 2rem;
    grid-column: span 3;
  }
}
.menu h3 {
  grid-column: span 3;
  padding-top: 2rem;
  align-self: flex-start;
}
.menu__build-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__build-box .cta {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .menu__build-box {
    grid-column: span 3;
  }
  .menu__build-box p {
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  .buffet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .buffet__h2, .buffet__intro {
    grid-column: span 2;
  }
}
.buffet__card {
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .buffet__card {
    margin-top: 0;
  }
}
.buffet__card__list {
  padding-top: 0.5rem;
}
.buffet__card__list li {
  list-style: inside;
}

.reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reserve h2 {
  align-self: flex-start;
}
.reserve__box {
  max-width: 600px;
  width: 100%;
}
.reserve__box__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.reserve__box__form label {
  color: var(--text);
  padding-top: 0.5rem;
}
.reserve__box__form__field {
  padding: 0.5rem;
  border: solid thin var(--primary);
  border-radius: 3px;
  color: var(--text);
}
.reserve__box__form__field.error {
  border-color: red;
}
.reserve__box__form #form-btn {
  margin-top: 2rem;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

/*# sourceMappingURL=main.css.map */
