@use '../utils/utils_index' as *;
//Styling for the about section
.about {
    padding-top: $space-m;
    margin-top: $space-m;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(small) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: $space-l;
        margin-top: $space-l;
    }
    &__text {
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        @include breakpoint(small) {
            padding-right: $space-xl;
        }
    }

    &__img {
        grid-column: 3 / 4;
        overflow: none;
        img {
            max-height: 600px;
            aspect-ratio: $ratio-2-3;
            object-fit: cover;
            border-radius: 3px;
            box-shadow: 0 0 5px var(--primary);
        }
    }
    &__cta {
        margin: $space-m;
        align-self: center;
    }
}