@use '../utils/utils_index' as *;

header {
    position: sticky;
    min-height: $space-l;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--background);
    padding: $space-s;
    box-shadow: 0 0 5px var(--text);
    @include breakpoint(medium) {
        @include flex-center;
    }
}
