@use '../utils/utils_index' as *;
//Styling for reservation section
.reserve {
    @include flex-center;
    flex-direction: column;
    h2 {
        align-self: flex-start;
    }
    &__box {
        max-width: 600px;
        width: 100%;
        &__form {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: $space-m;
            label {
                color: var(--text);
                padding-top: $space-xs;
            }
            &__field {
                padding: $space-xs;
                border: solid thin var(--primary);
                border-radius: 3px;
                color: var(--text);
            }
            &__field.error {
                border-color: red;
            }
            #form-btn {
                margin-top: $space-m;
                cursor: pointer;
            }
        }
    }
}