@use '../utils/utils_index' as *;
//Styling modal popups and ensures functionality (hiding / showing)
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    &__content {
        background-color: var(--background);
        margin: 25% auto;
        padding: $space-m;
        box-shadow: 0 0 5px var(--primary-hover);
        border-radius: 3px;
        width: 80%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .close-button {
            color: var(--text);
            font-size: 1.5rem;
            text-align: right;
            font-weight: bold;
            cursor: pointer;
            transition: transform 0.3s ease;
            align-self: flex-end;
            justify-self: flex-start;
            :hover {
                transform: scale(1.2);
            }
        }
        #modal-message {
            margin-bottom: $space-m;
        }
    }
}

// Build menu modal specific
#menu-modal-content {
        @include flex-center;
    h2 {
        margin-top: $space-s;
    }
    h3 {
        padding-bottom: 0;
        margin-bottom: $space-xs;
    }
    h4 {
        padding-top: $space-s;
    }
    li {
        display: flex;
        align-items: center;
        span {
            margin-left: $space-xs;
        }
    }
    i {
        font-size: 1.2rem;
        cursor: pointer;
        padding-right: $space-xs;

    }
    #custom-menu {
        display: flex;
        flex-direction: column;
        @include breakpoint('small') {
            width: 70%;
        }
        p {
            align-self: center;
            font-weight: bold;
            margin: $space-s;
        }
    }
    #modal-menu-display {
        @include breakpoint('small') {
            width: 70%;
        }
    }
}
.remove-icon {
    transform: rotate(45deg);
    font-size: 1.5rem;
}