@use '../utils/utils_index' as *;
//Navigation styling
.main-nav {
    display: none;
    flex-wrap: wrap;
    @include breakpoint(medium){
        display: block;
    }
    &.open {
        display: block;
        position: absolute;
        left: 0;
        top: $space-l;
        width: 100%;
        padding: calc($space-s - 2px);
        z-index: 2;
        background-color: var(--background);
        box-shadow: 0 5px 5px -5px var(--text);
    }
    ul {
        gap: $space-s;
        @include breakpoint(medium) {
            @include flex-center;
            gap: $space-m;
        }
        a {
            text-transform: uppercase;
            font-size: 0.9rem;
        }
    }
}
.menu-toggle {
    display: block;
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
    color: var(--text);
    padding: $space-s;
    font-size: 1.5rem;
    background: none;
    cursor: pointer;
    @include breakpoint(medium) {
        display: none;
        background: none;
    }
}